body {
    background-image: url("assets/images/bananas.png");
}

button {
    margin: 5px;
}

.album {
    background-image: url("assets/images/giphy.gif");
    background-size: contain;
    background-position: center;
    color: red;
}

.navbar {
    background-color: #e08b1a;
}

.navbar-brand {
    background-image: url("assets/images/Gifnificent.png");
}
/* Video */

#myVideo {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
